.form_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin: 5px auto 5px;
    cursor: pointer;
}


.input_form{
    width: 67%;
    height: 40px;
    font-size: medium;
    border-radius: 5px;
    border: 1px solid rgb(159, 159, 159);
    padding-left: 15px;
}

.form_button {
    width: 27%;
    height: 44px;
    background-color: #458Ef7 ;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.form_button:hover {
    background-color: #3672CB;
}

